.navbar {
  border-bottom: 1px solid #444;
  min-height: 52px;
}

.navbar-brand {
  padding: 0 10px;
  height: 52px;
  line-height: 52px;
}

.bg-color-dark {
  background-color: #343A40;
}

.bg-color-light-yellow {
  background-color: #fcf3cf;
}

.candidate-row {
  position: absolute;
  width: 100%;
  top: 69px;
  background-color: #eeeeee;
  text-align: center;
  height: 60px;
  font-size: 140%;
  border-bottom: 1px solid #dee2e6;
  margin-right: 0;
  margin-left: 0;
}

#main-container {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 129px; /* 69px + 60px */
}

.form-label {
  font-weight: bold;
}

.func-tool {
  position: absolute;
  top: 16px;
  right: 16px;
}

.json-container {
  background-color: #eeeeee;
  overflow-y: auto;
  height: 200px;
}

.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
}

.spinner-container {
  position: absolute;
  top: 20px;
  right: 64px;
}

.canvas-container {
  border-bottom: 1px solid #dee2e6;
}
